examples/outbound-endpoint-mocking-example/src/main/app/outbound-endpoint-mocking-example.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:google-tasks="http://www.mulesoft.org/schema/mule/google-tasks" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/google-tasks http://www.mulesoft.org/schema/mule/google-tasks/1.0/mule-google-tasks.xsd 
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd ">
    <jms:activemq-connector name="Active_MQ" brokerURL="tcp://localhost:61616" validateConnections="true" doc:name="Active MQ"/>
    <google-tasks:config-with-oauth name="Google_Tasks_Connector" consumerKey="key" consumerSecret="secret" doc:name="Google Tasks Connector"/>
    <flow name="pingService" doc:name="pingService">
        <jms:inbound-endpoint address="address" connector-ref="Active_MQ" doc:name="JMS"/>
        <google-tasks:get-task-by-id config-ref="Google_Tasks_Connector" taskId="#[payload]" doc:name="Google Tasks Connector"/>
        <choice doc:name="Choice">
            <when expression="#[payload.getDeleted()]">
                <http:outbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="ping" method="GET" doc:name="HTTP"/>
                <logger message="#[payload]" level="INFO" doc:name="Logger"/>
            </when>
            <otherwise>
                <logger message="Task was not deleted" level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>
    </flow>
</mule>
