it/src/main/app/poll-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jira="http://www.mulesoft.org/schema/mule/jira"  xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"  xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/jira http://www.mulesoft.org/schema/mule/jira/2.0/mule-jira.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd ">
    <jira:config name="Jira" doc:name="Jira">
        <jira:connection-pooling-profile initialisationPolicy="INITIALISE_ONE" exhaustedAction="WHEN_EXHAUSTED_GROW"/>
    </jira:config>

    <flow name="jira-mock-exampleFlow" doc:name="jira-mock-exampleFlow">
        <poll frequency="1000" doc:name="Poll">
            <logger message="JIRA FAILED" level="ERROR" doc:name="Logger"/>
        </poll>
        <foreach doc:name="Foreach">
            <jira:create-issue config-ref="Jira"   doc:name="Jira" project="test-project" summary="#[payload]" type="bug"/>

            <choice doc:name="Choice">
                <when expression="#[payload.equals('OK')]">
                    <logger message="Everything OK" level="INFO" doc:name="Logger"/>
                </when>
                <otherwise>
                    <logger message="JIRA FAILED" level="ERROR" doc:name="Logger"/>
                </otherwise>
            </choice>
        </foreach>
    </flow>
</mule>