mock/src/test/resources/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:mock="http://www.mulesoft.org/schema/mule/mock"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.2/mule-http.xsd
        http://www.mulesoft.org/schema/mule/mock http://www.mulesoft.org/schema/mule/mock/1.0-SNAPSHOT/mule-mock.xsd">

    <mock:config />

    <flow name="testFlow">
        <mock:outbound-endpoint address="http://localhost:8080/test" returnMuleMessage-ref="#[string:Fer]">
            <logger level="ERROR" message="#[payload]"/>

        </mock:outbound-endpoint>
        <http:outbound-endpoint method="GET"
                                host="#[payload]" port="8080" path="test"
                                exchange-pattern="request-response" />

    </flow>

</mule>
